@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

body {
  height: 100vh;
  background-image: url(./img/bg.svg);
  padding: 0 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 60px 0;
}

nav a {
  color: #515050;
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 3em 0 0;
  color: #000000;
}

.stud-link {
  color: #ffffff;
  background: #000000;
  margin: 0 0 0 4em;
  padding: 0.7em 1.7em;
}